body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: rgb(245,245,245);
}
.main{
  width: 100%;
  margin: 0 auto;
  font-family: "PT Serif", sans-serif;
}

.title{
  font-family: "PT Serif", sans-serif;		
	font-size: 48px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: 0 auto;
	text-rendering: optimizeLegibility;
	color : rgb(192,192,192);
}

.textdiv{
	width: 100%;
	margin: 0 auto;
/*	border: none;
*/}

#words{
	font-size: 21px;
	font-family: "PT Serif", sans-serif;
	width: 500px;
	height: 200px;
	margin: 0 auto;
	border: none;
	background-color: rgb(192,192,192);
}

#word-display{
	color: #ffffff;
	font-family: "PT Serif", sans-serif;		
	font-size: 80px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: 0 auto;
	text-rendering: optimizeLegibility;

	width: 500px;
	height: 110px;
/*	margin: 0 auto;*/
}

#start{
	border: none;
	width: 64px;
	height: 64px;
	margin: 0 auto;
}
#prev{
	border: none;
	width: 64px;
	height: 64px;
	margin: 0 auto;
}

#next{
	border: none;
	width: 64px;
	height: 64px;
	margin: 0 auto;
}
/*#dark-screen{
	position: fixed;
	top:0;
	height: 100%;
	width:100%;
	background-color: rgba(0, 0, 0, 0.7);
	//opacity: 0;
  display: none;
}
*/
